{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h3 class="page-title mb-0 p-0">Profil de l'utilisateur N°{{user.id}}</h3>
    <div class="table-responsive" >
        <table class="table user-table no-wrap">
            <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Prenoms</th>
                    <td>{{ user.prenoms }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ user.ville }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ user.pays }}</td>
                </tr>
                <tr>
                    <th>Date_naissance</th>
                    <td>{{ user.dateNaissance }}</td>
                </tr>
                <tr>
                    <th>Id_card</th>
                    <td>{{ user.idCard }}</td>
                </tr>
                <tr>
                    <th>Contacts</th>
                    <td>{{ user.contacts }}</td>
                </tr>
                <tr>
                    <th>Sponsor</th>
                    <td>{{ user.sponsor }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_user_index') }}" class="btn btn-primary">retour</a>

        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-cyan">Modifier</a>
        <br>
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
