{{ form_start(form) }}
    {{ form_row(form.je_donne) }}
    {{ form_row(form.montantEnvoye) }}
    {{ form_row(form.je_recois) }}
    {{ form_row(form.montantRecevoir) }}
    {{ form_row(form.adresseReception) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
