{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h2>Liste des Comptes</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Solde</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.id }}</td>
                <td>{{ compte.solde }}</td>
                <td>
                    <a href="{{ path('app_comptes_show', {'id': compte.id}) }}">show</a>
                    <a href="{{ path('app_comptes_edit', {'id': compte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comptes_new') }}">Créer</a>
{% endblock %}
