{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h2>Liste des Annonces </h2>
    <div class="container d-flex align-items-center row">
        <nav class="navbar" id="navbar">
            <ul>
                <li>
                    <a href="" class="nav-link scrollto active">Acheter</a>
                </li>
                <li>
                    <a href="" class="nav-link scrollto">Vendre</a>
                </li>
            </ul>
        </nav>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant_dispo</th>
                <th>Prix</th>
                <th>Type_annonce</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.montantDispo }}</td>
                <td>{{ annonce.prix }}</td>
                <td>{{ annonce.typeAnnonce }}</td>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonces_new') }}">Create new</a>
{% endblock %}
