<div class="container mt-4">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">{{ form_row(form.crypto_name) }}</div>

            <div class="col-md-4">{{ form_row(form.symbole) }}</div> 
            
        </div>
        <br>
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>

