{% extends 'base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h2>Liste des CryptoMonnaies </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Crypto_name</th>
                <th>Symbole</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crypto_monnaie in crypto_monnaies %}
            <tr>
                <td>{{ crypto_monnaie.id }}</td>
                <td>{{ crypto_monnaie.cryptoName }}</td>
                <td>{{ crypto_monnaie.symbole }}</td>
                <td>
                    <a href="{{ path('app_crypto_monnaie_show', {'id': crypto_monnaie.id}) }}">show</a>
                    <a href="{{ path('app_crypto_monnaie_edit', {'id': crypto_monnaie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_crypto_monnaie_new') }}"><b class="btn btn-cyan">Créer</b></a>
{% endblock %}
